---
apiVersion: v1
baseDomain: '{{ domain }}'
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 1
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 1
metadata:
  name: '{{ clustername }}'
networking:
  clusterNetwork:
  - cidr: '{{ clusternetwork.cidr }}'
    hostPrefix: '{{ clusternetwork.hostprefix }}'
  machineNetwork:
  - cidr: '{{ vm_network_cidr }}'
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: 'SECRET FROM RED HAT CLUSTER MANAGER'
sshKey: '{{ ssh_public_key }}'