# cat /etc/named/named.conf.local
zone "lab.local" {
    type master;
    file "/var/named/zones/db.lab.local"; # zone file path
};

zone "2.2.10.in-addr.arpa" {
    type master;
    file "/var/named/zones/db.lab.reverse";  # 10.2.2.0/24 subnet
};