#Vagrant.configure("2") do |config|
#  config.vm.box = "{{ vm_img }}"
#  box_config.vm.host_name = "{{ vm_hostname }}"
#  config.vm.network "private_network", ip: "{{ vm_ipv4 }}"
#end

nodes = [
  { :hostname => 'node1', :box => 'fedora/37-cloud-base' },
  { :hostname => 'node2', :box => 'fedora/37-cloud-base' },
  { :hostname => 'node3', :box => 'fedora/37-cloud-base' }
]

Vagrant.configure("2") do |config|
  nodes.each do |node|
    config.vm.define node[:hostname] do |nodeconfig|
      nodeconfig.vm.box = node[:box]
      nodeconfig.vm.hostname = node[:hostname] + ".box"
  end
  end
end